{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block banner %}
<section class="banner text-center shadow">
    <div class="banner-filter">
        <div class="container d-flex justify-content-around align-items-center">
            <img src="{{ asset('build/images/fanion.png') }}" alt="" height="450">
            <h1>Bienvenue sur le site du Rotary club de Porto Vecchio</h1>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="section-title text-center">
        <h2>En ce moment</h2>
        <hr>
    </div>

    <div class="row row-cols-1 row-cols-lg-2 g-4">
        <div class="col">
            <div class="card h-100 shadow">
                <div class="card-header text-end">Dernier événement</div>
                {% if last_event is not empty %}
                {% if last_event.thumbnailName is not empty %}
                <img src="{{ vich_uploader_asset(last_event, 'thumbnailFile') | imagine_filter('thumb') }}" alt="Image d'illustration de l'événement {{ last_event.title }}">
                {% else %}
                <img src="https://picsum.photos/600/400?random={{ last_event.id }}" alt="Image d'illustration de l'événement {{ last_event.title }}">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title h5">{{ last_event.title }}</h2>
                    <p class="date">le {{ last_event.occuresAt|date("d/m/Y \\à H\\hi") }}</p>
                    <p class="card-text">{{ last_event.description| raw }}</p>
                </div>
                <div class="card-footer">
                    <div class="text-end"><a type="button" class="btn btn-warning" href="{{ path('app_event_show', {id: last_event.id, slug: last_event.slug}) }}">Lire la suite</a></div>
                </div>
                {% else %}
                <div class="card-body text-center"><h2 class="h5">Aucun événement passé</h2></div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow">
                <div class="card-header text-end">Prochain événement</div>
                {% if next_event is not empty %}
                {% if next_event.thumbnailName is not empty %}
                <img src="{{ vich_uploader_asset(next_event, 'thumbnailFile') | imagine_filter('thumb') }}" alt="Image d'illustration de l'événement {{ next_event.title }}">
                {% else %}
                <img src="https://picsum.photos/200/300?random={{ next_event.id }}" alt="Image d'illustration de l'événement {{ next_event.title }}">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title h5">{{ next_event.title }}</h2>
                    <p class="date">le {{ next_event.occuresAt|date("d/m/Y \\à H\\hi") }}</p>
                    <div class="card-text">{{ next_event.description | raw }}</div>
                </div>
                <div class="card-footer">
                    <div class="text-end"><a type="button" class="btn btn-warning" href="{{ path('app_event_show', {id: next_event.id, slug: next_event.slug}) }}">Lire la suite</a></div>
                </div>
                {% else %}
                <div class="card-body text-center"><h2 class="h5">Aucun événement prévu pour le moment</h2></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
