<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Date et heure</th>
            {% if passed %} <th>Nombre de photos</th> {% else %} <th>Localisation</th> {% endif %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for event in events %}
        {% if (event.gallery == null and not gallery) or (event.gallery != null and gallery) or not passed  %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.occuresAt|date("d/m/Y \\à h \\h i") }}</td>
            {% if passed %} <td>{% if event.gallery != null %}{{ event.gallery.images|length }} {% else %} 0 {% endif %}</td> {% else %} <td>{{ event.location }}</td> {% endif %}
            <td>
                {% if not passed %}<a href="{{ path('admin_event_edit', {id: event.id}) }}" role="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square pe-2"></i>Editer</a>{% endif %}
                <form method="post" action="{{ path('admin_event_delete', {id: event.id}) }}" class="d-inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cet événement ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete' ~ event.id) }}">
                    <button class="btn btn-danger"><i class="fa-solid fa-trash-can pe-2"></i>Supprimer l'événement</button>
                </form>
                {% if passed %}
                    <a href="{{ path('admin_gallery_edit', {id: event.id}) }}" role="button" class="btn btn-primary">
                        {% if event.gallery != null %} 
                            <i class="fa-solid fa-images pe-2"></i>Galerie de l'événement
                        {% else %}
                            <i class="fa-solid fa-images pe-2"></i>Créer la gallerie
                        {% endif %}
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>