<section class="row g-5 rounded shadow my-3 py-3">
    <h2 class="text-center">Gestion des membres</h2>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="text-end"><a href="{{ path('admin_user_new') }}" class="btn btn-success"><i class="fa-solid fa-user-plus pe-2"></i>Ajouter un membre</a></div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom et prénom</th>
                    <th scope="col">Adresse email</th>
                    <th scope="col">Fonction</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.firstName ~ ' ' ~ user.lastName }}</th>
                    <td>{{ user.email }}</td>
                    <td>{% if user.fonction is not empty %}{{user.fonction.name}}{% endif %}</td>
                    {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                    <td>Super Administrateur</td>
                    {% elseif 'ROLE_ADMIN' in user.roles %}
                    <td>Administrateur</td>
                    {% else %}
                    <td>Membre</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('admin_user_edit', {id: user.id}) }}" role="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square pe-2"></i>Editer</a>
                        <a href="{{ path('admin_user_password_edit', {id: user.id}) }}" role="button" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square pe-2"></i>Editer le mot de passe</a>
                        <form method="post" action="{{ path('admin_user_delete', {id: user.id}) }}" class="d-inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer le compte de {{ user.firstName ~ ' ' ~ user.lastName }} ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can pe-2"></i>Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>