{% extends 'base.html.twig' %}
{% trans_default_domain 'pages' %}

{% block title %}Administration{% endblock %}

{% block banner %}
<section class="banner text-center shadow">
    <div class="banner-filter">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1>Espace d'administration du site</h1>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="container my-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{ app.request.get('_route') == 'admin_event_index' ? 'active' }}" href="{{ path('admin_event_index') }}">Événements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ app.request.get('_route') == 'admin_club_index' ? 'active' }}" href="{{ path('admin_club_index') }}">Pages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ app.request.get('_route') == 'admin_user_index' ? 'active' }}" href="{{ path('admin_user_index') }}">Membres</a>
        </li>
    </ul>

    {% if app.request.get('_route') == 'admin_event_index' %}
    {{ include('admin/_events.html.twig', {futur_events: futur_events, past_events : past_events, next_event: next_event}) }}
    {% elseif app.request.get('_route') == 'admin_club_index' %}
    {{ include('admin/_pages.html.twig', {pages: pages}) }}
    {% else %}
    {{ include('admin/_members.html.twig', {users: users}) }}
    {% endif %}
</div>
{% endblock %}
