{% extends 'base.html.twig' %}

{% block title %}Galerie de {{ gallery.event.title }}{% endblock %}

{% block banner %}
<section class="banner text-center shadow">
    <div class="banner-filter">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1>Les photos de l'événement "{{ gallery.event.title }}"</h1>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="container my-4">
    <div id="carouselExample" class="carousel slide mb-4 bg-dark text-center mx-auto shadow d-flex align-items-center" {# style="width:1000px; height:750px;" #}>
        <div class="carousel-inner">
            {% for image in gallery.images %}
            <div class="carousel-item {% if image is same as(gallery.images[0]) %} active {% endif %}">
                <img id="{{image.id}}" src="{{ vich_uploader_asset(image, 'file') | imagine_filter('gallery')}}" alt="photo de {{ gallery.event.title }}">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="row g-4">
        {% for image in gallery.images %}
        <div class="col text-center"><img src="{{ vich_uploader_asset(image, 'file') | imagine_filter('mini')}}" alt="photo de {{ gallery.event.title }}" role="button" class="shadow" onclick="carouselShow({{ image.id }})"></div>
        {% endfor %}
    </div>
</div>
{% endblock %}
