{% extends 'base.html.twig' %}

{% block title %}
    Administration des photos
{% endblock %}

{% block body %}
    <div class="container my-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre de l'événement</th>
                    <th>Nombre de photos</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for gallery in galleries %}
                <tr>
                    <td>{{ gallery.event.title }}</td>
                    <td>{{ gallery.images | length }}</td>
                    <td>
                        <a href="{{ path('admin_gallery_edit', {id: gallery.id}) }}" role="button" class="btn btn-warning">Editer</a>
                        <form method="post" action="{{ path('admin_gallery_delete', {id: gallery.id}) }}" class="d-inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cette galerie de photos ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete' ~ gallery.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-end"><a type="button" href="{{ path('admin_gallery_new') }}" class="btn btn-info">Ajouter les photos d'un événement</a></div>
    </div>
{% endblock %}
