<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Rotary Porto Vecchio</title>
        <link rel="icon" href="{{ asset('build/images/favicon.png') }}" type="image/x-icon" sizes="16x16">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/b3e17d2f75.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
        {% endblock %}
    </head>
    <body>
        {{ include('_header.html.twig') }}

        {% block banner %}{% endblock %}

        {% block body %}{% endblock %}

        {{ include('_footer.html.twig') }}
    </body>
</html>
